<footer class="foot">
	<div class="foot-cnt fn-clear">
		<div class="foot-cnt-det fn-clear">
			<article class="blogroll">
				<h4 class="title">Blogroll</h4>
				<ul>
					<li>&#8227;<a href="http://ownlinux.net">Linux Knowledge</a></li>
					<li>&#8227;<a href="http://t.ownlinux.net">Ting's Log</a></li>
				</ul>
			</article>
		
			<article class="follow">
				<h4 class="title">Follow Me</h4>
				<ul>
					<li><a href="{{ site.follow.github }}" class="ico-github" target="_blank">github</a></li>
					<li><a href="{{ site.feed }}" class="ico-rss" target="_blank">rss</a></li>
					<li><a href="#" class="ico-flickr">flickr</a></li>
					<li><a href="{{ site.follow.twitter }}" class="ico-twitter">twitter</a></li>
				</ul>
			</article>
		</div>
	</div>
	<div class="foot-btn">
		<div class="foot-btn-det">
			<p class="copyright">Copyleft © –2013 .</p>
			<p class="author">Powered by <a href="http://github.com">Github</a>. Theme by <a href="http://www.pizn.net">PIZn</a>.</p>
		</div>
	</div>
</footer>
