---
layout: default
---
<section class="content">
	<div class="content-cnt fn-clear">
		<div class="main fn-clear">
			<article class="entry">
				<h1 class="title">{{ page.title }}</h1>
               	<p class="meta"><time class="date" pubdate="{{ page.date | date_to_utc | date: '%Y-%m-%d' }}">{{ page.date | date_to_string }}</time> By <a href="/contact.html" class="author" title="author">{{ site.author.name }}</a><g:plusone size="small"></g:plusone></p>
               	<p class="description">{{ page.description }}</p>
 			 	{{ content }}
                <nav class="pagination-link">
                    {% if page.previous %}
                    <a class="prev" href="{{ page.previous.url }}" rel="bookmark">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
                    {% endif %}
                    {% if page.next %}
                    <a class="next" href="{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
                    {% endif %}
                 </nav>
			</article>
			
			<script type="text/javascript"><!--
				google_ad_client = "ca-pub-7287751350579637";
				google_ad_slot = "5231312522";
				google_ad_width = 728;
				google_ad_height = 90;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>

			<!-- Duoshuo Comment BEGIN -->
				<div class="ds-thread"></div>
			<script type="text/javascript">
			var duoshuoQuery = {short_name:"antalk"};
				(function() {
					var ds = document.createElement('script');
					ds.type = 'text/javascript';ds.async = true;
					ds.src = 'http://static.duoshuo.com/embed.js';
					ds.charset = 'UTF-8';
					(document.getElementsByTagName('head')[0] 
					|| document.getElementsByTagName('body')[0]).appendChild(ds);
				})();
				</script>
			<!-- Duoshuo Comment END -->
		</div>
		</div>
	</div>
</section>
