---
layout: master
---
<div class='post'>

  <h1><a href='{{page.url}}'>{{page.title}}</a></h1>
  <p><b>发布日期：{{page.date | date_to_string}}</b></p>
  <p><b>本文地址</b>:<a href='http://blog.ownlinux.net{{page.url}}'> http://blog.ownlinux.net{{page.url}}</a></p>

  <!--
  <span class='date'>{{page.date | date_to_string}}</span>
  -->
  <div class='body'>{{ content }}</div>

  <!-- Baidu Button BEGIN -->
  <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
 	 <a class="bds_tsina"></a>
	 <a class="bds_tqq"></a>
	 <a class="bds_renren"></a>
	 <a class="bds_douban"></a>
	 <a class="bds_t163"></a>
	 <a class="bds_ff"></a>
	 <a class="bds_twi"></a>
	 <a class="bds_fbook"></a>
	 <a class="bds_linkedin"></a>
	 <a class="bds_diandian"></a>
	 <span class="bds_more">更多</span>
	 <a class="shareCount"></a>
  </div>
  <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=1211571" ></script>
  <script type="text/javascript" id="bdshell_js"></script>
  <script type="text/javascript">
	  document.getElementById("bdshell_js").src = "http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
  </script>
  <!-- Baidu Button END -->

</div>
<br />
<div class="related">
  <br /> 
  <h4>最近发布</h4>
  <table class="post-list">
    {% for post in site.related_posts limit:3 %}
      <tr>
        <th><a href='{{ post.url }}'>{{ post.title }}</a></th>
        <td>{{ post.date | date_to_string }}</td>
        <td><a href='{{post.url}}#disqus_thread'>评论</a></td>
      </tr>
    {% endfor %}
  </table>
</div>

<div id="disqus_thread"></div>
	<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var disqus_shortname = 'antalk'; // required: replace example with your forum shortname
	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();</script>

	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
																		              

<!--
<script type="text/javascript" charset="utf-8">
  var disqus_url = "http://blog.ownlinux.net/{{page.url}}";
</script>


<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/antalk/embed.js"></script><noscript><a href="http://antalk.disqus.com/?url=ref">View the discussion thread.</a></noscript>

<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>-->
